NEXT_PUBLIC_SUPABASE_URL=https://whrzowjcbsrcyrmiozzr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indocnpvd2pjYnNyY3lybWlvenpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5MzA5ODYsImV4cCI6MjA3NzUwNjk4Nn0.Lypukf6vGpVi6MTWeisfsbtkI5zBOrG-MGrkF2L3BDs
OPENAI_API_KEY=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
